.hero{
  @include breakpoint-up(large){
    display: flex;
  }

  &_photo{
    position: relative;
    background: url("../images/bg-intro-mobile.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    @include breakpoint-up(medium){
      height: 600px;
    }

    @include breakpoint-up(large){
      flex-basis: 50%;
      order: 2;
      height: 655px;
      background: url("../images/bg-intro-desktop.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 99%;
    }

    &::before{
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../images/image-mockups.png");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 90%;
      height: 100%;
      width: 100%;
    }
  }

  &_text{
    text-align: center;
    padding: 0 3rem;
    @include breakpoint-up(large){
      flex-basis: 50%;
      margin-top: 10%;
      text-align: left;
      padding: 0 5rem;
    }

    h1{
      font-size: 2rem;
      font-weight: normal;
      line-height: normal;
      color: $darkBlue;
      margin: 2rem 0rem;
    }
      
    p{
      color: $GrayishBlue;
      margin-bottom: 2rem;
    }

    button{
      margin-bottom: 4rem;
    }
  }
}